<header>
    <h1>Hattrick Magazine</h1>
    <div class="topnav">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Category</button>
			<div class="dropdown-content">
			    <a href="#men">Men</a>
			    <a href="#women">Women</a>
			</div>
		</div>
		<a href="#about">About Us</a>
		<div class="topnav-right">
			<div class="search-container">
				<form action="/action_page.php">
				    <input type="text" placeholder="Search.." name="search">
				    <button type="submit"><i class="fa fa-search"></i></button>
				</form>
			 </div>
			<a href="#account">My account</a>
			<a href="/cart.php">My cart</a>
		</div>
    </div>
</header>