<section class="login-form">
    <h2>Login</h2>
    <form action="/api/auth.php" method="get">
        <input type="hidden" id="new" name="new" value="0">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="passwd" name="passwd" required>
        </div>
        <input type=submit value="Login" class="button" onsubmit="javascript:login()"/>
        Do not have an account? <a href="/auth.php?new=1">Register</a>
    </form>
</section>